
      <div class="row">
          <div class="col-md-6">
               <h3>Hola</h3> <h3 id="nameTitle">{{user.name}}</h3>
              <div class="row">
                  {{#each ubications}}
                    <div class="col-md-5">
                        <div class="card" id="card-location">
                            <div class="card-body">
                                <h4 class="card-title d-flex justify-content-between aling-items-center">
                                    {{name}} <a href="/mapa/edit-ubication/{{_id}}"> <i class="fas fa-edit"></i></a>
                                </h4>
                                <p>
                                    {{description}}
                                    {{location}}
                                    <form action="/mapa/delete-ubication/{{_id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                            <div class="form-group">
                                                <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar</button>
                                            </div>
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="card mx-auto">
                        <div class="card-body">
                            <p class="lead" id="tit">Ubicaciones</p>
                            <a href="/mapa/new-ubication" class="btn btn-success btn-block">Crea Una</a>
                        </div>
                    </div>
                {{/each}}
                
              </div>
          </div>
          <div class="col-md-6" id="map-template">

          </div>
      </div>
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <script src="/socket.io/socket.io.js">
        </script>
        <script src="/js/main.js">
        
        </script>
       
